.calc_simples{
    background-color: rgb(175, 114, 91);
    padding: 5px;
    width: 200px;
    border-radius: 5px;
}
.visor{
    text-align: center;
    background-color: transparent;
}
#resultado {
    background-color: black;
    color: yellow;
}
.teclas {
    padding: 5px;
    text-align: center;
}
button {
    width: 40px;
    height: 40px;
    margin: 2px;
}
#igual {
    background-color: tomato;
}
.entrada {
    width: 36px;
    border: none;
    border-bottom: 2px solid black;
}